<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zking.ssm.mapper.XrecordMapper">

    <select id="selectRecord" resultType="com.zking.ssm.model.XRecord">
      select * from x_record
      <where>
          <if test="rechy!=null and rechy!=''">
              and rechy like concat('%',#{rechy},'%')
          </if>
          <if test="recbt!=null and recbt!=''">
              and recbt like concat('%',#{recbt},'%')
          </if>
          <if test="recdf!=null ">
              and recdf=#{recdf}
          </if>
      </where>
    </select>
</mapper>